<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consumer Profile</title>
    <link rel="stylesheet" href="/css/consumer-profile.css">
</head>
<body>

    <% if (typeof message !== 'undefined' && message) { %>
           <p style="color: green;"><%= message %></p>
    <% } %>

    <form action="/consumer/update-profile" method="POST">
        <div>
            <label>Name Surname:</label>
           <input type="text" name="name" value="<%= consumer.name %>">
        </div>
        <div>
            <label>City:</label>
            <input type="text" name="city" value="<%= consumer.city %>">
        </div>
         <div>
            <label>District:</label>
            <input type="text" name="district" value="<%= consumer.district %>">
        </div>
        <div>
            <label>New Password:</label>
            <input type="password" name="password" placeholder="If you do not want to change it, leave it empty.">
        </div>
        <button type="submit">Update Profile</button>
        <a href="/search">Back to Main Page</a>
    </form>
</body>
</html>