<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consumer Profile</title>
    <link rel="stylesheet" href="/css/consumer-profile.css">
</head>
<body>

    <% if (typeof message !== 'undefined' && message) { %>
           <p style="color: green;"><%= message %></p>
<<<<<<< HEAD
    <% } %>
=======
     % } %>
>>>>>>> 6b13edbfc2a7c64aa6b867532841899a73659a74

    <form action="/consumer/update-profile" method="POST">
        <div>
            <label>Name Surnam:</label>
           <input type="text" name="name" value="<%= consumer.name %>">
        </div>
        <div>
            <label>City:</label>
            <input type="text" name="city" value="<%= consumer.city %>">
        </div>
         <div>
            <label>District:</label>
            <input type="text" name="district" value="<%= consumer.district %>">
        </div>
        <div>
            <label>New Password:(If you don't want to change it, leave it empty)</label>
            <input type="password" name="password">
        </div>
<<<<<<< HEAD
        <button type="submit">Update Profile</button>
=======
        <button type="submit">Display Profile</button>
>>>>>>> 6b13edbfc2a7c64aa6b867532841899a73659a74

    </form>
</body>
</html>