<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/css/login.css">
</head>

<body>


  <div>
    <!-- Hata Mesajı  -->
    <h1>Log in Page</h1>
    <% if (message) { %>
      <div style="color: red; margin-bottom: 10px;">
        <%= message %>
      </div>
      <% } %>

        <form action="/login" method="POST">
          <div>
            <!--Email -->
            <label for="email">E-Mail Address</label>
            <input type="email" name="email" id="email" value="<%= oldEmail %>">
          </div>
          <!-- Şifre-->
          <div>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
          </div>

          <div>
            <input type="checkbox" name="remember" id="remember" <%=oldRemember ? "checked" : "" %>
            > <label for="remember">Remember Me</label>
          </div>

          <div>
            <button type="submit">Log In</button>
          </div>

        </form>
        <div>
          <p>Don't have an account? <a href="/register">Create one.</a></p>
        </div>

        <div style="text-align: center; margin-top: 1.05rem;">
          <a href="/">Back to Main Page</a>
        </div>
  </div>

</body>

</html>